.home-content
  .text-center
    =link_to "My Groups", groups_path, class: 'btn btn-default'
    %br
    %br
    =link_to "View Available Exercises", exercises_path, class: 'btn btn-default'
    %br
    %br
    =link_to "My Exercises", exercises_users_path, class: 'btn btn-default'
