%h1 Training Battle

-if current_user.nil?
  =link_to new_user_registration_path do
    .btn.btn-success
      Sign Up

  =link_to new_user_session_path do
    .btn.btn-default
      Log In

-else
  =link_to destroy_user_session_path, method: :delete do
    .btn.btn-default
      Log Out
  %br

  =link_to "View Available Exercises", exercises_path
  =link_to "My Exercises", exercises_users_path
