

$c-primary: #232323;
$c-primary-light: #FED0D2;
$c-secondary: #f4f1f0;
$c-accent: orange;






// Basicos

// color text
$c-text: $c-primary;


// Backgrounds
$bgc-primary: $c-secondary;
$bgc-dark: $c-primary;

$br-color: $c-primary-light;

// Modificator colors
$c-hover-bg: salmon;
