-unless exercise.subscribed?(current_user)
  =form_for ExercisesUser.new do |f|
    =f.hidden_field :user_id, value: current_user.id
    =f.hidden_field :exercise_id, value: exercise.id
    =f.submit "Subscribe", class: "btn btn-success"
-else
  You have already subscribed this routine.
